body {
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    /*background-color: rgb(94 234 212);*/
}

.header_import {
    /* background: yellow; */
    text-align: center; 
    font: 30px / 1.5 sans-serif;
}

.container_import {
    /* background: blueviolet; */
    display: flex;
    flex-direction: column;
}

.content-sidebar{
    width: 25%;
    position: fixed;
  
}

.sidebar-gauche{
    display: flex;
    /* background: green; */
    justify-content: space-around;
    flex-direction: column;
    height: 575px;    
    width: 300px;
}

.content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background: blue; */
    margin-right: auto;
    margin-left: 25%;
}

.content-2{
    display: flex;
    /* background: rgb(255, 0, 0); */
    margin-right: auto;
    margin-left: 25%;
    margin-top: 3%;
}

.photo{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

.button-choisir{
    background-color: #000000;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    width: 500px;
    height: 40px;
}

.button-import{
    background-color: #000000;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    width: 250px;
    height: 88px;
}

.button{
    background-color: #000000;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    width: 250px;
    height: 100px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #808080;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}